<%= link_to reservations_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="container">
  <h1>Amenities:</h1>
  <% @hotel_amenities.each do |amenity| %>
    <div class="d-flex w-50 justify-content-between">
        <%= image_tag("icons/#{amenity.name.gsub(' ', '_').gsub('/', ':').downcase}.svg", style: "width: 20px; height: 20px;") %>
        <p><%= amenity.name.capitalize %></p>





        <%= form_with(model: [:reservation, :request], method: :post) do |f| %>
          <% f.hidden :hotel_amenity, value: amenity %>
          <%= f.submit 'Request' %>
        <% end %>


    </div>
  <% end %>
</div>

