<%= link_to 'Back', :back %>

<div class="container-fluid p-0 d-flex flex-column" style="background-color: #F1EEE9; height: 100%">

  <div class="container-fluid d-flex h-50 justify-content-center" style="background-color: #F1EEE9;">
    <h1 class="align-self-center">Welcome to Concierge L</h1>
 </div>

 You Can
<p><%= image_tag "icons/move-down.svg" %></p>

   <p><%= image_tag "icons/time.svg" %></p>Customize check-in/out time
   <p><%= image_tag "icons/towel.svg" %></p>Request free amenities
   <p><%= image_tag "icons/pin-heart.svg" %></p>Discover gems in the neighborhood
  <p><%= image_tag "icons/meeting.svg" %></p>Find like-minded dining buddies


  <h1 class="align-self-left">What Are You Waiting For?</h1>


  <div class="container-fluid h-50 justify-content-center">
      <button type="button" style="background-color: #B27C7E">Sign Up</button>
      <button type="button" style="background-color: #00896A">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </button>

      <% if user_signed_in? %>
        <%= link_to "Index", reservations_path, class: "btn btn-dark" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
      <% end %>

  </div>


</div>
