<div class="container-fluid p-0 d-flex flex-column" style="background-color: #F1EEE9; height: 100%">

  <div class="container-fluid d-flex h-50" style="background-color: #F1EEE9;">
     </div>
  <div class="container-fluid d-flex h-50 justify-content-center top-space-2">
    <%= image_tag("CONCIERGE_L.png", style: "width: 230px; height: 50px;") %>
     </div>

  <%= render 'reservations/title_down_arrows', text: "You Can" %>


  <div class="container-fluid list-item-home top-space font-grey" >
  <%= image_tag("icons/time.svg", style: "width: 20px; height: 20px; margin-right: 10px; margin-bottom: 5px;") %>
  Customize check-in/out time
    </div>

  <div class="container-fluid list-item-home font-grey">
  <%= image_tag("icons/towels_&_linens.svg", style: "width: 20px; height: 20px; margin-right: 10px; margin-bottom: 5px;") %>
  Request free amenities
    </div>

  <div class="container-fluid list-item-home font-grey">
    <%= image_tag("icons/pin-heart.svg", style: "width: 20px; height: 20px; margin-right: 10px; margin-bottom: 5px;") %>
    Discover gems in the neighborhood
    </div>

  <div class="container-fluid list-item-home font-grey">
    <%= image_tag("icons/meeting.svg", style: "width: 20px; height: 20px; margin-right: 10px; margin-bottom: 5px; margin-top: 5px;") %>
    Find like-minded dining buddies
    </div>

  <h5 class="left-text font-green">What Are You Waiting For?</h5>


      <% if user_signed_in? %>
<%= link_to "Take me to Section L", reservations_path, class: "btn btn-primary w-100 top-space-2" %>
<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary w-100 top-space-2" %>
        <% else %>
<%= link_to 'Sign Up', new_user_session_path, class: "btn btn-primary w-100" %>
<%= link_to "Login", user_session_path, class: "btn btn-success w-100 top-space-2" %>
      <% end %>

  </div>
