<style>
	.was-validated .form-check-input:valid~.form-check-label, .form-check-input.is-valid~.form-check-label {
		border: 1px solid red;
		border-radius: 5px;
		color: red;
	}

	.was-validated .form-check-input:valid~.form-check-label, .form-check-input.is-valid:checked~.form-check-label {
		color: white;
		background-color: #D43B3B;
	}
	
	input[type=radio] {
		display:none;
	}

	input[type=radio] + label {
		margin: -2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #D43B3B;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-color: white;
		border: 1px solid #D43B3B;
		margin-bottom: 4px;
		min-width: 150px;
	}

	.form-check {
		padding-left: 0;
	}
</style>

<p>check-in</p>
<p><%= reservation.check_in_date.strftime('%b %e') %></p>

<div class="container d-flex">
	<div class="container-radio d-flex text-center border-right" style="flex-direction: column; width: 200px;">
		<% in_time = Time.find_zone('Tokyo').local(2020, 1, 1, 6) %>
		<%= simple_form_for reservation do |f| %>
			<%= f.input :arrival_time, as: :radio_buttons, collection: [
				[in_time, '3:00PM~ (¥0)'],
				[in_time - 1.hour, '2:00PM (¥1,000)'],
				[in_time - 2.hour, '1:00PM (¥2,000)'],
				[in_time - 3.hour, '12:00PM (¥3,000)'],
				[in_time - 4.hour, '11:00AM (¥4,000)'],
				[in_time - 5.hour, '10:00AM (¥5,000)']
			], label_method: :second, value_method: :first %>
		<% end %>
	</div>

	<div class="container-radio d-flex text-center" style="flex-direction: column; width: 200px;">
		<% out_time = Time.find_zone('Tokyo').local(2020, 1, 1, 6) %>
		<%= simple_form_for reservation do |f| %>
			<%= f.input :departure_time, as: :radio_buttons, collection: [
				[out_time, '~10:00AM (¥0)'],
				[out_time - 1.hour, '~11:00AM (¥1,000)'],
				[out_time - 2.hour, '~12:00PM (¥2,000)'],
				[out_time - 3.hour, '~1:00PM (¥3,000)'],
				[out_time - 4.hour, '~2:00PM (¥4,000)'],
				[out_time - 5.hour, '~3:00PM (¥5,000)']
			], label_method: :second, value_method: :first %>
		<% end %>
	</div>
</div>

