<div class="font-grey">
  <div class="card-show-page card-reservation-time">
    <div>
      <h6 class="reservation-body-header">Check-in </h6>
      <p class="body-text-large"><%= reservation.check_in_date.strftime("%b #{reservation.check_in_date.day.ordinalize}")%> <small><%= reservation.check_in_date.strftime("(%a)")%></small></p>
      <p class="body-text-large"><%= (reservation.arrival_time).strftime("%l:%M%p") %></p>
      <% if @latest_in_request %>
        <p class="reservation-body-text d-flex align-items-center" style="color: orange;">
          <%= @latest_in_request.time.strftime("%l:%M%p") %>
          <span style="font-size: 12px; margin-left: 4px;">pending</span>
        </p>       
      <% end %>
    </div>

    <div class="d-flex flex-column align-items-end">
      <h6 class="reservation-body-header">Check-out </h6>
      <p class="body-text-large"><%= reservation.check_out_date.strftime("%b #{reservation.check_out_date.day.ordinalize}")%> <small><%= reservation.check_out_date.strftime("(%a)")%></small></p>
      <p class="body-text-large" ><%= reservation.check_out_date.strftime("#{(reservation.departure_time).strftime("%l:%M%p")}") %></p>
      <% if @latest_out_request %>
          <p class="reservation-body-text d-flex align-items-center" style="color: orange;">
            <span style="font-size: 12px; margin-right: 4px;">pending</span>
            <%= @latest_out_request.time.strftime("%l:%M%p") %>
          </p> 
      <% end %>
    </div>
  </div>

  <a data-toggle="collapse" href="#time-request" class="btn btn-dark button-full-width mt-1 mb-1">Change Check-In/Out Time</a>
  <div class="collapse" id='time-request'> <%= render 'change_times', reservation: @reservation %> </div>

  <div class="card-show-page mt-2">
    <p class="reservation-body-header">Address:</p>
    <p class="reservation-body-text"> <%= reservation.hotel.name %> </p>
    <p> <%= reservation.hotel.address %></p>
    <p class="reservation-body-header">Room Number:</p>
    <p class="reservation-body-text"> <%= reservation.room_number %></p>
  </div>
  <a class="btn btn-dark button-full-width mt-1 mb-1" target="_blank" href="https://goo.gl/maps/hD8UjpGJk3ppnxtUA">Open on Google Map</a>

  <div class="card-show-page mt-2">
    <p class="reservation-body-header">Reservation Number: </p>
    <p class="reservation-body-text"><%= reservation.reservation_number %></p>
  </div>
  <div class="card-show-page  mt-2">
    <p class="reservation-body-header">Smartlock & Online Check-in: </p>
    <p class="reservation-body-text">Please read before arrival</p>
  </div>

  <button type="button" class="btn btn-dark button-full-width mt-1 mb-1">Read Check-In Manual</button>

  <div class="card-show-page mt-2 pb-3">
    <p class="reservation-body-header">Amenities </p>
    <p class="reservation-body-text">Check out basic & requestable amenities</p>
  </div>
  <button type="button" class="btn btn-dark button-full-width mt-1 mb-3">See Amenities</button>

</div>
