<div class="font-grey">
  <div class="card-show-page card-reservation-time">
    <div class="mr-3 ml-0 border-right">
      <p class="font-bright-pink mb-0">Check in: </p>
      <div class="d-flex pr-3 mb-0">
        <p class="mb-0" style="font-size:20px"><%= reservation.check_in_date.strftime("%b #{reservation.check_in_date.day.ordinalize} ")%></p> <p style="font-size:16px"><%= reservation.check_in_date.strftime("(%a)")%></p>
      </div>
      <p><%= (reservation.arrival_time + 9.hours).strftime("%l%p~") %></p>
    </div>
    <div class="ml-3">
      <p class="font-bright-pink mb-0">Check out: </p>
      <div class="d-flex pr-3 mb-0">
        <p class="mb-0" style="font-size:20px"><%= reservation.check_out_date.strftime("%b #{reservation.check_out_date.day.ordinalize} ")%></p> <p style="font-size:16px"><%= reservation.check_out_date.strftime("(%a)")%></p>
      </div>


      <p class="mb-0" ><%= reservation.check_out_date.strftime("~#{(reservation.departure_time + 9.hours).strftime("%l%p")}") %></p>
    </div>

  </div>

  <button type="button" class="btn btn-primary button-full-width mt-1">Change Check-In/Out Time</button>

  <p>Address: <%= reservation.hotel.address %></p>
  <p> <%= reservation.hotel.name %> </p>
  <p>Room Number: <%= reservation.room_number %></p>
  <a class="btn btn-primary button-full-width" target="_blank" href="https://goo.gl/maps/hD8UjpGJk3ppnxtUA">Open on Google Map</a>

  <p>Reservation Number: <%= reservation.reservation_number %></p>
  <p>Smartlock & Online Check-in: Please read before arrival</p>
  <button type="button" class="btn btn-primary button-full-width">Read Check-In Manual</button>
  <p>Amenities </p>
  <button>Essentials</button>
  <button>Bed and Bath</button>
  <button>Kitchen</button>
  <button>Others</button>
  <button class="btn btn-success button-full-width mt-3">Chat with L</button>
</div>
