<div class="container-fluid d-flex flex-column mb-2 align-items-center">
  <h1 class="mb-0 "><%= text %></h1>
  <div class="d-flex align-items-center justify-content-center arrows">
    <%= image_tag("icons/down-arrow.svg", height:25) %>
    <%= image_tag("icons/down-arrow.svg", height:25) %>
    <%= image_tag("icons/down-arrow.svg", height:25) %>
    <%= image_tag("icons/down-arrow.svg", height:25) %>
    <%= image_tag("icons/down-arrow.svg", height:25) %>
  </div>
</div>