<style>
  input[type=radio] + label {
    transition: background-color 0.2s, color: 0.2s;
  }

  input[type=radio]:hover + label {
    background-color: lightgrey;
    transition: background-color 0.2s;
    transition-timing-function: ease-out;
  }

  input[type=radio]:checked + label {
    background-color: ##FDF5F6;
    color: white;
    transition: background-color 0.2s, color: 0.2s;
  }

  input[type=radio] {
    opacity: 0.01;
  }

  input[type=radio] + label {
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: ##E67E22;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #B27C7E;
    border: 1px solid #B27C7E;
    margin-bottom: 4px;
    min-width: 150px;
  }

  .form-check {
    padding-left: 0;
  }
</style>


<div class="container mt-3">
  <div class="container-fluid px-0">
    <h3 class="font-green mb-0">What Brings You to Tokyo?</h3>
    <%= image_tag("icons/arrow-down.svg", height:25) %>
    <%= image_tag("icons/arrow-down.svg", height:25) %>
    <%= image_tag("icons/arrow-down.svg", height:25) %>
    <%= image_tag("icons/arrow-down.svg", height:25) %>
    <%= image_tag("icons/arrow-down.svg", height:25) %>


   <div class="container-fluid d-flex justify-content-start">
      <%= simple_form_for @reservation, html: { class: "d-flex", style: "flex-wrap: wrap;"}, method: :patch do |f| %>
        <div class="container-fluid d-flex justify-content-around" style="flex-direction: column; flex-basis: 50%;">
          <%= f.input :purpose, as: :radio_buttons, required: false, collection: [
            ['Business', image_tag("icons/bag.svg", height:50, class:"icon-white")],
            ['Leisure', image_tag("icons/surfboard.svg", height:50, class:"icon-white")],
            ['Workation', image_tag("icons/l-location.svg", height:50, class:"icon-white")],
            ['TemporaryHome', image_tag("icons/bed-side.svg", height:50, class:"icon-white")]
          ], label_method: :second, value_method: :first %>
        </div>
        <%= f.button :submit, class: "btn btn-success w-100" %>
      <% end %>
    </div>


<%= link_to 'Skip', reservations_path, class: "left-text-2" %>


