<style>
  input[type=radio] + label {
    transition: background-color 0.2s, color: 0.2s;
  }

  input[type=radio]:hover + label {
    background-color: lightgrey;
    transition: background-color 0.2s;
    transition-timing-function: ease-out;
  }

  input[type=radio]:checked + label {
    border-color: #018A6A;
  }

  input[type=radio] {
    opacity: 0.01;
  }

  input[type=radio] + label {
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #E67E22;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
      border: 1px solid #B27C7E;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
  }

  .form-check {
    flex-basis: 40%;

  }

  .radio_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: -16px;
  }

  .form-check {
    padding-left: 0;
  }

  legend.col-form-label {
    visibility: hidden;
  }
</style>


<div class="container mt-3" style="display: flex; flex-direction: column;">
  <%= render 'reservations/title_down_arrows', text: "What Brings You To Tokyo?", style: "text-align: center;" %>


  <div class="container-fluid d-flex justify-content-start p-0" style="margin: 0 auto; width: 100%;">
    <%= simple_form_for @reservation, html: { style: "display: flex; flex-wrap: wrap; width: 100%;"}, method: :patch do |f| %>
      <%= f.input :purpose, as: :radio_buttons, required: false, collection: [
        ['Business', image_tag("purpose_business.jpg", height:90)],
        ['Leisure', image_tag("purpose_leisure.jpg", height:90)],
        ['Workation', image_tag("purpose_workation.jpg", height:90)],
        ['TemporaryHome', image_tag("purpose_home.jpg", height:90)]
      ], label_method: :second, value_method: :first %>

      <%= f.button :submit, class: "btn btn-primary w-100" %>
    <% end %>
  </div>


  <%= link_to 'Skip', reservations_path, style: "align-self: center; margin-top: 16px;" %>

</div>


