<style>
  input[type=radio] + label {
    transition: background-color 0.2s, color: 0.2s;
  }

  input[type=radio]:hover + label {
    background-color: lightgrey;
    transition: background-color 0.2s;
    transition-timing-function: ease-out;
  }

  input[type=radio]:checked + label {
    background-color: ##FDF5F6;
    color: white;
    transition: background-color 0.2s, color: 0.2s;
  }

  input[type=radio] {
    opacity: 0.01;
  }

  input[type=radio] + label {
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: ##E67E22;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #B27C7E;
    border: 1px solid #B27C7E;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
  }

  .form-check {
    flex-basis: 40%;

  }

  .radio_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  .form-check {
    padding-left: 0;
  }

  legend.col-form-label {
    visibility: hidden;
  }
</style>


<div class="container mt-3">
  <%= render 'reservations/title_down_arrows', text: "What Brings You To Tokyo?" %>


  <div class="container-fluid d-flex justify-content-start">
    <%= simple_form_for @reservation, html: { class: "d-flex", style: "flex-wrap: wrap;"}, method: :patch do |f| %>
      <div class="container-fluid">
        <%= f.input :purpose, as: :radio_buttons, required: false, collection: [
          ['Business', image_tag("icons/business.svg", height:80, class:"icon-white")],
          ['Leisure', image_tag("icons/leisure.svg", height:80, class:"icon-white")],
          ['Workation', image_tag("icons/workation.svg", height:80, class:"icon-white")],
          ['TemporaryHome', image_tag("icons/temp-home.svg", height:80, class:"icon-white")]
        ], label_method: :second, value_method: :first %>
      </div>

      <%= f.button :submit, class: "btn btn-success w-100" %>
    <% end %>
  </div>


  <%= link_to 'Skip', reservations_path, class: "left-text-2" %>

</div>


