<%= render 'shared/back', path: 'root_path' %>


<%= render 'reservations/title_down_arrows', text: "Your Stays" %>


<div class="container-reservation d-flex flex-column">
  <% @upcoming_reservations.each do |reservation| %>
    <%= render 'reservations/reservation_card', reservation: reservation %>
  <% end %>
  <% if @past_reservations.length > 0 %>
      <%= render 'reservations/title_down_arrows', text: "Where You've Stayed" %>

    <% @past_reservations.each do |reservation| %>
      <%= render 'reservations/reservation_card', reservation: reservation %>
    <% end %>
  <% end %>

  <div class="bottom-sticky double-buttons">
    <a href="https://www.section-l.co" target="_blank" class="btn btn-dark">Book New</a>
    <%= link_to 'Find your Booking', new_reservation_path, class: "btn btn-dark"%>
  </div>
</div>

