<%= link_to root_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<%= link_to 'Back', :back %>

  
  <div class="container">
    <h5>Upcoming Stays:</h5>
    <% @upcoming_reservations.each do |reservation| %>
      <%= render 'reservations/reservation_card', reservation: reservation %>
    <% end %>
    <h5>Where you've stayed:</h5>
    <% @past_reservations.each do |reservation| %>
      <%= render 'reservations/reservation_card', reservation: reservation %>
    <% end %>
  
  </div>

<%= link_to 'Add your Reservation info', new_reservation_path %>