

<%= render 'shared/back', path: "root_path" %>

  <div class="logo-container">
    <%= image_tag 'logo.png', class: 'logo-sm' %>
  </div>
  <h2 style="text-align: center;">Your Stays</h2>
  <div class="container-reservation">
    <h5>Upcoming:</h5>
    <% @upcoming_reservations.each do |reservation| %>
      <%= render 'reservations/reservation_card', reservation: reservation %>
    <% end %>
    <% if @past_reservations.length > 0 %>
      <h5>Where you've stayed:</h5>
      <% @past_reservations.each do |reservation| %>
        <%= render 'reservations/reservation_card', reservation: reservation %>
      <% end %>
    <% end %>
  </div>

<div class="reservation-buttons">
  <a href="section-l.com" target="_blank" class="btn btn-success double-button">Book New</a>
  <%= link_to 'Find your Booking', new_reservation_path, class: "btn btn-success double-button"%>
</div>
