
<%= render 'reservations/title_down_arrows', text: "Your Stays" %>


<div class="container-reservation">
  <% @upcoming_reservations.each do |reservation| %>
    <%= render 'reservations/reservation_card', reservation: reservation %>
  <% end %>
  <% if @past_reservations.length > 0 %>
      <%= render 'reservations/title_down_arrows', text: "Where You've Stayed" %>

    <% @past_reservations.each do |reservation| %>
      <%= render 'reservations/reservation_card', reservation: reservation %>
    <% end %>
  <% end %>
</div>

<div class="reservation-buttons">
  <a href="https://www.section-l.co/" target="_blank" class="btn btn-success double-button">Book New</a>
  <%= link_to 'Find your Booking', new_reservation_path, class: "btn btn-success double-button"%>
</div>
