<%= render 'shared/back', path: 'reservations_path' %>

<div class="container d-flex flex-column font-grey">
  <%= render 'reservations/title_down_arrows', text: "Your Booking Info" %>

  <%= simple_form_for (@reservation) do |f| %>
    <%= f.error_notification %>
    <div class="d-flex flex-column px-3 py-4" style="background-color: white; border-radius: 5px;">
        <%= f.input :reservation_number,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "reservation_number", style: "border: 1px solid black;" },
                    error: 'Reservation number is required'%>
        <%= f.input :check_in_date,
                    as: :date,
                    html5: true,
                    start_year: Date.today.year,
                    required: true,
                    input_html: { autocomplete: "check_in_date", style: "border: 1px solid black;" }%>

        <%= f.submit "Find Your Booking", class: 'btn btn-primary w-100 mt-2 mb-4', style: "color: white; background-color: cadetblue;" %>
        <%= link_to 'Cancel', reservations_path, class: '', style: 'margin: 0 auto; color: black;' %>
    </div>
  <% end %>

  <%= image_tag 'icons/hotel.svg', width: 120, style: "filter: invert(.7); align-self: center; margin: auto auto;" %>
</div>
