<%= render 'shared/back', path: "reservations_path" %>

<%= render 'shared/chat', reservation: @reservation, message: @message %>

<% if false %>
            <div class="container p-3" style="background-color: beige;">
              <h5>Messages:</h5>
              <div class="container">
                <div id="messages" data-channel-subscribe="reservation" data-reservation-id="<%= @reservation.id %>">
                  <% @reservation.messages.each do |message| %>
                    <div class="message-container card p-2 mb-1 w-50" id="message-<%= message.id %>">
                      <div class="message-content">
                        <p class="mb-1" <%= message.content %>></p>
                        <div class="text-right">
                          <small><%= message.updated_at.strftime("%a %b %e at %l:%M%p") %></small>
                        </div>
                      </div>
                    </div>
                  <% end %>

                  <div class="d-none" data-role="message-template">
                    <div class="message-container card p-2 mb-1 w-50" id="id">
                      <div class="message-content">
                        <p class="mb-1" data-role="message-text"></p>
                        <div class="text-right">
                          <small data-role="message-date"></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <%= simple_form_for @message, url: reservation_messages_path(@reservation), remote: true do |form| %>
                  <div class="input-group mb-3">
                    <%= form.input :content, as: :string,
                                              wrapper: false,
                                              label: false,
                                              input_html: {
                                                class: 'chat-input'
                                              } %>
                    <div class="input-group-append">
                      <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
                    </div>
                  </div>
                  <%= form.input :reservation_id, as: :hidden %>
                <% end %>
              </div>
            </div>
<% end %>









<div class="container mt-3">
  <div class="logo-container">
    <%= image_tag 'logo.png', class: 'logo-sm' %>
  </div>
  <div class="container-fluid">
    <h1 class="font-green mb-0">Current Stay</h1>
    <%= image_tag("icons/arrow-down.svg", height:25) %>
    <%= image_tag("icons/arrow-down.svg", height:25) %>
    <%= image_tag("icons/arrow-down.svg", height:25) %>
    <%= image_tag("icons/arrow-down.svg", height:25) %>
    <%= image_tag("icons/arrow-down.svg", height:25) %>

    <% room_type = (@reservation.room_number % 10).to_s %>
    <%= image_tag("room_#{room_type + (@reservation.room_number == 101 ? 'a' : '')}.jpg", class: "w-100 mt-1")  %>

  <ul class="d-flex justify-content-around nav nav-pills nav-fill mb-3 mt-3 button-selected" id="pills-tab" role="tablist">
    <li class="nav-item mr-2" role="presentation">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Guides</a>
    </li>
    <li class="nav-item ml-2" role="presentation">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Buddy</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <%= render 'reservation_overview', reservation: @reservation %>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <%= render 'article_cards', articles: @articles %>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <%= render 'buddy.html.erb' %>
    </div>
  </div>
    <%#= render 'change_times', reservation: @reservation %>
</div>

              <% if false %>
              <div class="message-container card p-2 mb-1 w-50" id="message-<%= message.id %>">
                <i class="author">
                  <span><%= message.user.first_name %></span>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </i>
                <p><%= message.content %></p>
              </div>
              <% end %>