<div class="container">
  <div class="card p-3">
    <h5>ID: <%= @reservation.id %></h5>
    <h5>Room Number: <%= @reservation.room_number %></h5>
    <h5>Guest: <%= @reservation.user.first_name %> <%= @reservation.user.last_name %></h5>
    <h1>Arrival: <%= @reservation.arrival_time %></h1>
    <h1>Departure: <%= @reservation.departure_time %></h1>
  </div>
</div>

<%= render 'requests', reservation: @reservation, all_requests: @all_requests %>

  <%= render 'shared/chat', reservation: @reservation, message: @message %>