<%# variables: %>

<%# text (for title above arrows)%>
<%# description (a description of the amenity category) %>
<%# hotel_amenities (The array(?) of hotel_amenity instances.) %>

<div class="swiper-slide">
  <%= render 'reservations/title_down_arrows', text: text %>
  <div class="d-flex flex-column align-items-center text-align-center w-100">
    <p style="text-align: center; line-height: 1.2em; margin-bottom: 8px;"><%= description %></p>
  </div>

  <% hotel_amenities.each do |hotel_amenity| %>
    <div class="d-flex justify-content-between mb-1 py-1 pl-5 align-items-center" style="border-bottom: 1px solid black;">
      <div class="d-flex align-items-center" style="height: 38px">
        <%= image_tag("icons/#{hotel_amenity.amenity.name.gsub(' ', '_').gsub('/', ':').downcase}.svg", style: "width: 28px; height: 28px;  margin-right: 32px;") %>
        <p class="mb-0" style="font-size: 1.2em;"><%= hotel_amenity.amenity.name %></p>
      </div>

      <% if hotel_amenity.requestable == true %>
        <%= form_tag reservation_requests_path, method: :post do %>
          <%= hidden_field_tag :hotel_amenity_id, hotel_amenity.id %>
          <%= submit_tag "Request", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>