<%= render 'shared/back', path: reservation_path(@reservation) %>

<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <%= render 'hotel_amenities/swiper_slide', { text: @additional_items.first.amenity.category, hotel_amenities: @additional_items, description: 'Order additional items for your stay. (Charges may apply)' } %>
    
    <%= render 'hotel_amenities/swiper_slide', { text: @essentials.first.amenity.category, hotel_amenities: @essentials, description: 'Things you couldn\'t go without. Find them in your room or request extra.' } %>

    <%= render 'hotel_amenities/swiper_slide', { text: @bed_bath.first.amenity.category, hotel_amenities: @bed_bath, description: 'Stay squeaky clean during your stay.' } %>

    <%= render 'hotel_amenities/swiper_slide', { text: @kitchen.first.amenity.category, hotel_amenities: @kitchen, description: 'Pots, pans, appliances, we have what you need to whip up a feast.' } %>

    <%= render 'hotel_amenities/swiper_slide', { text: @other.first.amenity.category, hotel_amenities: @other, description: 'Things to make your life a bit easier.' } %>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev" style="color: black;"></div>
  <div class="swiper-button-next" style="color: black;"></div>
</div>
