<!DOCTYPE html>
<html>
  <head>
    <title>Concierge-L</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% if controller_name == 'hotel_amenities' %>
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="box">
      <%= render 'shared/flashes' %>
      <% unless controller_name == "pages"%>
        <%= render 'shared/header'%>
      <% end %>
      <div class="row content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
