<!DOCTYPE html>
<html>
  <head>
    <title>Concierge L</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="<%= '/manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <div class="box">
      <%= render 'shared/flashes' %>
      <% unless controller_name == "pages"%>
        <%= render 'shared/header'%>
      <% end %>
      <div class="row content">
        <%= yield %>
      </div>
      <% if controller_name == "pages"%>
        <%= render 'shared/footer'%>
      <% end %>
    </div>
  </body>
</html>
